body {
    background-image: url('image/The_Imperial.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.reservation-container {
    max-width: 500px;
    margin: 5% auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

h1 {
    color: #fff;
}

.form-control {
    border-radius: 60px;
}

.btn-primary {
    background-color: #5a5a5a;
    border: none;
}

.btn-primary:hover {
    background-color: #444;
}

#confirmationMessage {
    font-size: 1.2em;
    color: #fff;
}
